<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found | Pastebin </title>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
</head>
<body>
    <div style="min-height: 100vh"
        id="app" 
        class="w-full flex justify-center items-center text-6xl text-gray-700 bg-gray-100">
        NOT FOUND
    </div>
</body>
</html>